.top-gradient{
    background-repeat: no-repeat;
    background-size: cover;
    height: 85px;
}

.form-search{
    height: 90px;
    position: relative;
    background: white;

    display: flex;
    justify-content: center;
    width: 100%;
}

.search-in-result-page{    
    width: 50%;
    min-width: 500px;
    top: -30px;
    position: absolute;
}

.input-search{
    padding: 13px;
}

.search-icon {
    position: absolute;
    right: 25px; /* Ajusta la distancia del ícono al borde derecho */
    top: 50%;
    transform: translateY(-50%); /* Centra el ícono verticalmente dentro del input */
    color: gray;
    font-size: 20px; /* Tamaño del ícono */
    pointer-events: none; /* Para que no interfiera con la entrada de texto */
}

.container-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
